/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
.seccion-oscura {
    color: white;
    background-color: black;
}

.seccion-clara {
    color: #1b1b32;
    background-color: white;
}

h1{
    font-size: 2.5rem;
    /* font-family: 'Rubik Dirt', system-ui; */
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    /* font-family:'Rubik Dirt', system-ui; */
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}


/* Inicio */

    /* imagen inicio */
    .container-inicio-img {
        display: flex;              /* Aplica el modelo de caja flexible a container, permitiendo centrar el contenido fácilmente. */
        justify-content: center;    /* Centra el contenido horizontalmente dentro del contenedor. */
        align-items: stretch;        /* Centra el contenido verticalmente dentro del contenedor. */
        overflow: hidden;           /* Oculta cualquier parte de la imagen que se desborde del contenedor. */
        width: 100%;                /* Hace que el contenedor ocupe todo el ancho disponible de su contenedor padre. */
        height: 500px;              /* Establece la altura fija del contenedor. Puedes ajustar esta altura según tus necesidades. */
        padding: 0%;                
    }

    .inicio-img {
        width: 100%;        /* Hace que la imagen ocupe todo el ancho del contenedor. */
        max-width: 100%;    /* Asegura que la imagen no se expanda más allá de su tamaño original. */
        height: auto;       /* La altura de la imagen se ajusta automáticamente para mantener su proporción. */
        object-fit: cover;  /* Hace que la imagen cubra todo el área del contenedor, recortando los bordes si es necesario para mantener las proporciones. */
    }

    /* seccion introduccion */
    .container-intro{
        padding-left: 2%;
        padding-right: 2%;
    }

    .card {
        margin-bottom: 1%; 
    }

    .intro-img{
        align-items: end;
        justify-content: end;
    }
    /* Seccion 1 */
    .container-seccion1{
        height: 500px;
    }


